**1-Display numbers from -10 to -1 using for loop**

In [ ]:
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

**2-Given a number count the total number of digits in a number, for example, the number is 75869, so the output should be 5**

In [ ]:
x=int(input())
mot=str(x)
l=len(mot)
print(l)

75869
5

**3-Write a function which Displays the cube of the number up to a given integer, for example the number is 2 the cube should be 8**

In [ ]:
cube=lambda a : a**3
x=int(input("Give a number :"))
print(cube(x))

Give a number :5
125

**4-Given two integer numbers return their product. If the product is greater than 1000, then return their sum**

In [ ]:
x=int(input("Give a number : "))
y=int(input("Give another number : "))
Prod=x*y
print("the product of the numbers is : ", Prod)
if Prod > 1000 :
  print("the sum is : ", x+y)

Give a number : 500
Give another number : 3
the product of the numbers is :  1500
the sum is :  503

**5-Given a list of numbers, return True if first and last number of a list is same**

In [ ]:
list=[4,5,8,9,2,1,2,8,57,4]

def comp_list(list):
  if list[0]==list[-1]:
   return(True)

comp_list(list)

True

**6-Given a two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list, for example list1 =  [10, 20, 23, 11, 17] and list 2 = [13, 43, 24, 36, 12]  => result should be [23, 11, 17, 24, 36, 12]**

In [17]:
list1 = [10, 20, 23, 11, 17]
list2 = [13, 43, 24, 36, 12]
list3=[]

for i in range(0,len(list1),1):
   if list1[i]%2!=0:
     list3.append(list1[i])

for i in range(0,len(list2),1):
   if list2[i]%2==0:
     list3.append(list2[i])
     
list3

[23, 11, 17, 24, 36, 12]

**7-Write a function which Iterates a given list and counts the occurrence of each element and creates a dictionary to show the count of each element, for example: input list  [11, 45, 8, 11, 23, 45, 23, 45, 89]=> result should be {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}**

In [20]:
list1= [11, 45, 8, 11, 23, 45, 23, 45, 89]

def occ_nbr_X(lst, x):           # A function which returns the occurence of a given element X
    occ = 0
    for i in lst: 
        if (i == x): 
            occ = occ + 1
    return occ

Trsf=set(list1)                # Converts a list to a set so we remove the occurences
dic={}

for i in Trsf:
      dic[i]=occ_nbr_X(list1,i)

print(dic)

{8: 1, 11: 2, 45: 3, 23: 2, 89: 1}

**8-Write a function which finds the intersection of two sets and removes common elements from the first set. for example: First Set  {65, 42, 78, 83, 23, 57, 29} and Second Set  {67, 73, 43, 48, 83, 57, 29} => Intersection should be  {57, 83, 29} and First Set after removing common element  {65, 42, 78, 23}**

In [51]:
s1={65, 42, 78, 83, 23, 57, 29}
s2={67, 73, 43, 48, 83, 57, 29}
l3=[]
for i in s1:
   if i in s2:
     l3.append(i)

my_set=set(l3)
print(my_set)

for i in l3:
   if i in s1:
     s1.remove(i)
print(s1)

{57, 83, 29}
{65, 42, 78, 23}